
        body{
            font-family: "SF Pro Text","Helvetica Neue",Helvetica,Lato,Arial,sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #3a3a3a;
                }
                /* navbar  start  */
        #nav{
          width: 90%;
          margin-bottom: 70px; 
         /* position:fixed ; */
         background-color: rgb(245, 242, 242);
         border-radius: 10px;
         padding:10px;
        }
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
          
        }
        ul>li{
        padding: 5px;
        }
        #nav{
        display: flex;
        }
        #nav-left{
        flex-grow: 1;
        }
        #nav>ul{
        display: flex;
        font-size: 12px;
        }
        ul>li:nth-child(1)>img{
        width: 60px;
        padding-top: 13px;
        }
        li a, .dropbtn {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        li.dropdown {
        display: inline-block;
        }
        
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px #888888;
        }
        
        .dropdown-content>p>a {
        color: black; 
        text-decoration: none;
        
        line-height: 0;
        }
        .dropdown-content>p{
          padding: 10px;
          margin: -10px;
          
        }
        .dropdown-content>p{
          display: grid;
          gap: 20px;
          padding: 10px;
          
        }
        #orange{
          font-size: 15px;
          text-align: center;
          color: #f56f2f;
          padding: 15px;
          }
        .dropdown-content>p>a:nth-child(1){
        grid-area: a1;
        text-align: left;
        }
        .dropdown-content>p>a:nth-child(2){
          grid-area: a2;
          text-align: right;
        }
        .dropdown:hover .dropdown-content {
        display: block;
        }
        #nav-right>li>button{
        margin-top: 8px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        font-size: 12px;
        
        }
        #nav-right>li>button:hover,a:hover{
        color: #02bdad;
        }
        #nav-right>li>button:hover{
        border: 1px solid #02bdad;
        background-color: white;
        }
        #remote{
            margin: auto;
            text-align: center;
            max-width: 70%;
            padding-top: 5%;
        }
        #remote>p{
             font-size: 20px;
        }
        .img_1st{
          width: 90%;
          margin: auto;
        }
        
        .choose{
            margin-bottom: 30px;
            text-align: center;
            /* margin: auto; */
            /* margin-left: 25%; */
            width:100%;
            height: 300px;
            padding-top: 5%;
            background-color: rgb(251,251,251);
        }
        .choose>p:nth-child(1){
            width: 760px;
            color: rgb(125,130,167) ;
        }
        .switching{
            width: 760px;
            margin: auto; 
            text-align: center; 
        }
        .switching>p{
            color: rgb(125,130,167) ; 
        }
         .choose>a{
            width: 300px;
            height: 150px;
            background-color: rgb(0,172,157);
            color: white;
            border: 1px solid cyan;
            font-size: 20px;
            padding: 14px;
            border-radius: 6px;
        }
        .flex_box1{
          display: grid;
          grid-template-areas: 'box_a box_b box_c' 
                               'box_d box_e box_f';
          /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
          width: 65%;
          
          gap: 3%;
          margin: auto;
          text-align: center;
           
        }
        .box_a{
          grid-area: box_a;
          background-color: rgb(255,250,251);
         
        }
        .box_b{
          grid-area: box_b;
          background-color: rgb(250,253,250);
        }
        .box_c{
          grid-area: box_c;
          background-color: rgb(247,251,253);
        }
        .box_d{
          grid-area: box_d;
          background-color: rgb(250,253,250);
        }
        .box_e{
          grid-area: box_e;
          background-color: rgb(247,251,253);
        }
        .box_f{
          grid-area: box_f;
          background-color: rgb(250,253,250);
        }
        .box_a,.box_b,.box_c,.box_d,.box_e,.box_f{
          width: 278px;
          height:198px;
          padding: 10px;
          /* margin-left: 30px; */
          margin: auto;
    }

    .box_a>img,.box_b>img,.box_c>img,.box_d>img,.box_e>img,.box_f>img{
             width: 50px;
             height: 50px;
             margin: auto;
            
         }
         .box_a>h3,.box_b>h3,.box_c>h3,.box_d>h3,.box_e>h3,.box_f>h3{
             width: 270px;
             /* margin: auto; */
         }
         .box_a>p,.box_b>p,.box_c>p,.box_d>p,.box_e>p,.box_f>p{
           width: 250px;
           height: 68px;
         }
          @media(min-width:600px)and 
         (max-width:1000px) {
          .flex_box1{
           grid-template-areas: 'box_a box_b' 
                                'box_c box_d' 
                                'box_e box_f';
       /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
       }
   }
         
        /* transform :start */
    #transform{
        width: 100%;
        margin: auto;
      }
      #trans{
        margin-top: 100px;
        background-color: #00a99b;
        border-radius: 20px;
        display: grid;
        gap: 20px;
        overflow: hidden;
        grid-template-areas: 't1left t1right';
      }
      #trans-left{
        grid-area: t1left;
        padding: 50px;
        color: white;
      }
      #trans-left>p{
        font-size: 20px;
      }
      #trans-left>div{
        display: flex;
      }
      #trans-right{
        grid-area: t1right;
      }
      #trans-left>div>input{
        width: 50%;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        border: 0;
      }
      #trans-left>div>button{
        padding: 15px;
        border-radius: 10px;
       
        margin-left: 5px;
        border: 0;
        background-color: white;
        color: #02bdad;
        font-size: 20px;
      }
      #trans-right>img{
        padding-top: 70px;
        min-width: 320px;
        max-width: 420px;
        margin: 0;
        
      }
    /* transform end */
    #footer{
      margin-top: 50px;
      display: grid;
      gap: 30px;
      grid-template-areas: 'f1 f2 f3 f4 f5 f6';
      line-height: 1;
      padding: 20px;
      color: rgb(160, 152, 152);
    }
    #footer1>p:nth-child(1),#footer2>p:nth-child(1),#footer3>p:nth-child(1),#footer5>p:nth-child(1),#footer4>p:nth-child(1),#footer6>p:nth-child(1){
      color: #6c729c;
      font-weight: 900;
      font-size: 13px;
      margin-bottom: 50px;
    }
    #footer2{
      grid-area: f2;
    }
    #footer3{
      grid-area: f3;
    }
    #footer4{
      grid-area: f4;
    }
    #footer5{
      grid-area: f5;
    }
    #footer6{
      grid-area: f6;
    }
    #footer1{
      grid-area: f1;
    }
    /* footer end */
